# --- Python General & Virtual Environments ---
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/

# --- Testing & Caching ---
.pytest_cache/
.coverage
htmlcov/

# --- dbt Specific ---
# These folders are generated automatically by dbt
mmm_dbt_project/logs/
mmm_dbt_project/target/
mmm_dbt_project/dbt_packages/

# --- Generated Data & Local Database ---
# We commit the CODE that generates data, not the data itself.
data/
mmm_dbt_project/seeds/*.csv
*.duckdb
*.duckdb.wal

# --- OS / Editor Specific ---
.DS_Store
.idea/
.vscode/